.container {
  font-size: 12px;
}
.btn {
  font-size: 14px;
}

.master-container {
  width: 100%;
}
.master-container.header
{
  position: fixed;
  padding: 20px 0 38px 0;
  background-color: white;
  z-index: 300;
}
.master-container.header .container
{
  min-height: 42px;
  height: 40px;
}
.master-container.controls {
  padding-top: 100px;
  position: fixed;
  z-index: 200;
}
.master-container.controls .container
{
  min-height: 45px;
  background-color: white;
}
.master-container.leaderboard
{
  padding-top: 140px;
  z-index: 100;
}
.leaderboard .table > thead > tr  {
  min-height: 55px;
  height: 55px;
  background-color: white;
}

img.logo {
  width: 150px;
}
.abi-header h1 {
  display: none;
}

.nav-tabs {
  border: 0;
  background-color: #f5f5f5;
}
.nav-tabs > li {
  height: 42px;
}
.nav-tabs>li>a {
  margin: 0;
  font-size: 14px;
}
.nav-tabs li {
  border: 1px solid grey;
  width: 33.33%;
  text-align: center;
  font-weight: bold;
  color: black;
}
.nav-tabs li.active {
  border-bottom: 0;
}

.table > thead > tr > th
{
  font-size: 14px;
}
.table > thead > tr,
.table > tbody > tr
{
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td
{
  min-width: 160px;
  min-height: 44px;
}
.table > thead > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tbody > tr > td:first-child
{
  position: absolute;
  background-color: white;
}
.table > thead > tr > th:nth-child(2),
.table > thead > tr > td:nth-child(2),
.table > tbody > tr > th:nth-child(2),
.table > tbody > tr > td:nth-child(2)
{
  padding-left: 160px;
  min-width: 320px;
}
.table > thead > tr > th:first-child
{
  min-height: 57px;
}

.table > tbody > tr.detail {
  display: none;
}
.table > tbody > tr.detail.active {
  display: table-row;
}
.table>tbody>tr>th,
.table>tbody>tr>td
{
  padding: 8px 0;
}
.table .detail td {
  text-align: left;
}
.table .detail span:first-child {
  font-weight: bold;
  display: inline-block;
  min-width: 100px;
}
.table .detail ul {
  padding: 0;
  margin: 0;
}
.table .detail li {
  list-style: none;
  background: none;
}
.table .detail li.color-coded-green {
  color: green;
}
.table .detail li.color-coded-yellow {
  color: gold;
}
.table .detail li.color-coded-red {
  color: red;
}

.table>tbody>tr>td,
thead th {
  vertical-align: middle;
  text-align: center;
}
.table>thead>tr>th
{
  vertical-align: top;
}
.table th:first-child {
  text-align: left;
}

span.color-coded {
  padding: 5px;
  width: 100%;
}
span.color-coded {
  display: inline-block;
}
.color-coded-green {
  background-color: green;
}
.color-coded-yellow {
  background-color: gold;
}
.color-coded-red {
  background-color: red;
}
.color-coded-grey,
.table tbody > tr.detail > th:first-child {
  color: #f5f5f5;
  background-color: #f5f5f5;
}

.abi-header > div {
  padding: 0;
}
.abi-header h1 {
  color: gold;
  margin: 0;
  font-size: 26px;
}
.abi-header .btn-toolbar {
  float: right;
}
.controls .btn-toolbar {
  width: 240px;
  min-height: 40px;
  margin: 20px auto;
}
.btn-toolbar .btn-primary {
  color: black;
  background-color: gold;
  border-color: black;
}

.controls .btn-toolbar {
  display: none;
}
.abi-header .btn-toolbar {
  display: block;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .abi-header {
    margin-bottom: 25px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .abi-header {
    margin-bottom: 25px;
  }
}

/* Portrait phones and smaller */
/*@media (max-width: 480px) {*/
@media (max-width: 510px) {
  .abi-header {
  }
  .master-container.header
  {
    padding: 5px 0 5px 0;
  }
  .nav-tabs li {
    display: block;
    width: 100%;
  }
  .nav-tabs {
    min-height: 125px;
  }
  .master-container.controls {
    padding-top: 52px;
  }
  .master-container.leaderboard
  {
    padding-top: 255px;
  }
  .abi-header .btn-toolbar {
    display: none;
  }
  .master-container.controls .btn-toolbar {
    display: block;
  }
  .nav-tabs>li>a:hover {
    border-color: #e6e6e6dd;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 1px solid grey;
  }
}

@media print {
  .btn-toolbar {
    display: none !important;
  }
  .nav-tabs li {
    display: block;
    width: 100%;
  }
  .nav-tabs li {
    display: none;
  }
  .nav-tabs li.active {
    display: block;
    border: 0;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
  {
    border: 0;
  }
  .color-coded-grey {
    color: white; /* so it disappears into the background */
  }
}
